.hedaer {
  color: brown;
  text-decoration: solid;
  font-size: 10px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
.pokemonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
